
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
extensions/super-html-3x/package-lock.json
extensions/super-html-3x/package.json
extensions/super-html-3x/README.md
extensions/super-html-3x/tsconfig.json
extensions/super-html-3x/Untitled-1.js
extensions/super-html-3x/dist/2x/main.js
extensions/super-html-3x/dist/2x/panel/index.js
extensions/super-html-3x/dist/3x/builder.js
extensions/super-html-3x/dist/3x/hooks.js
extensions/super-html-3x/dist/3x/main.js
extensions/super-html-3x/dist/3x/pngquant.exe
extensions/super-html-3x/dist/3x/panel/index.js
extensions/super-html-3x/dist/core/build.js
extensions/super-html-3x/dist/core/common/javascript-obfuscator.js
extensions/super-html-3x/dist/core/common/platform.js
extensions/super-html-3x/dist/core/common/types.js
extensions/super-html-3x/dist/core/common/utils.js
extensions/super-html-3x/dist/core/config/config.js
extensions/super-html-3x/dist/core/config/json.js
extensions/super-html-3x/dist/core/handler/channel_handler.js
extensions/super-html-3x/dist/core/handler/res_handler.js
extensions/super-html-3x/dist/platform/clound/cloud_main.js
extensions/super-html-3x/dist/platform/cocos/cache.js
extensions/super-html-3x/dist/platform/cocos/cocos_main.js
extensions/super-html-3x/i18n/en.js
extensions/super-html-3x/i18n/zh.js
extensions/super-html-3x/static/index.html
settings/v2/packages/engine.json
settings/v2/packages/project.json
mvpPixi/